<p><a href="<%= twitter %>"><image src="<%= fotografia %>" width="90" height="90"/></a></p>
<p>Autor: <%= nombre %></p>
<p><iframe type="text/html" width="320" height="193" src="<%= video %>" frameborder="0"></iframe></p>
